body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #807f7f;
    
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 15px;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.5s;
}
button:hover {
  border-color: #646cff;
}